.profileimg {
    margin: auto;
    padding: 0;
    border-radius: 80%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    display: block;


}

.Name {
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
    margin: 10px 10px;
}

.role {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
}

.container {
    background-color: antiquewhite;
}

.heading {
    border-width: 4rem;
    background-color: rgba(173, 168, 42, 0.89);
    border-radius: 400px;
}

#skill {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    border: 2px solid blue;
    background-color: rgb(223, 171, 13);
    border-radius: 80px;
    line-height: 0;
    width: 140px;
    display: block;
}

#skill:hover {
    background-color: rgb(157, 198, 239);
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#Education {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    border: 2px solid blue;
    background-color: rgb(223, 171, 13);
    border-radius: 80px;
    width: 250px;
    line-height: 0px;
    margin-left: 150px;

}

#Education:hover {
    background-color: rgb(157, 198, 239);
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#about {
    font-family: cursive;
    text-decoration-color: blue;
    font-size: 40px;
    margin: 30px 60px;
    padding: 20px;

}

.main {
    display: flex;
    flex-direction: row;
}

#project {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    border: 2px solid blue;
    background-color: rgb(223, 171, 13);
    border-radius: 80px;
    line-height: 0;
    width: 200px;
    display: block;
}

#project:hover {
    background-color: rgb(157, 198, 239);
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#certificates {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    border: 2px solid blue;
    background-color: rgb(223, 171, 13);
    border-radius: 80px;
    line-height: 0;
    width: 280px;
    display: block;
}

#certificates:hover {
    background-color: rgb(157, 198, 239);
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#resume{
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    border: 2px solid blue;
    background-color: rgb(223, 171, 13);
    border-radius: 80px;
    line-height: 0px;
    width: 280px;
    display: block;
    font-size: medium;

}
#resume:hover{
    background-color: rgb(157, 198, 239);
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}